@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black;
}

main {
    color: limegreen;
    font-family: 'Source Code Pro', monospace;
    background-color:rgba(30, 30, 30);
    padding:3rem;
    font-weight: 900;
    border: 1px solid green;
    text-align:start;
}

#navbar {
    display:flex;
    justify-content: space-between;
    
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 8px;
    font-size: 2rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 10px;
    margin-top: 12px;
    font-size: 1.8rem;
    color: white;
    background:transparent;
}

#links {
    
    margin-right: 20px;
    display:flex;
    justify-content: center;
    background: transparent;
}

#logo {
    width:5rem;
    height:100%;
}



