@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black;
    margin: 0;

}


#about-me {
    color: limegreen;
    font-family: 'Source Code Pro', monospace;
    background-color:rgba(30 30 30);
    padding:2rem;
    
    border: 1px solid green;
    text-align:start;
    margin: 2rem;
}

#navbar {
    display:flex;
    justify-content: space-between;
    
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 8px;
    font-size: 2rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 10px;
    margin-top: 12px;
    font-size: 1.8rem;
    color: white;
    background:transparent;
}

#links {
    
    margin-right: 20px;
    display:flex;
    justify-content: center;
    background: transparent;
}

#logo {
    width:5rem;
    height:100%;
}

/***FOOTER***/
footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    width: 100%;
}

footer p {
    width: 60ch;
    padding-top:1rem;
    padding-bottom: 0;
    border-top: 1px solid gray;
    margin-top: 0.4rem;
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

footer h6 {
    width:70%;   
    margin-top: -0.2rem;
    font-size: 0.8rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

aside {
    color: lime;
   
}
main {
    
    display:grid;
    grid-template-rows: 1fr 1fr;
}
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    margin:10px;
}

