@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;700&display=swap');

body {
    background-color: black;
    margin: 0;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    min-height: 100vh;
}

main {
    color:whitesmoke;
    font-family: 'Source Code Pro', monospace;

}

#navbar {
    display:flex;
    justify-content: space-between;
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 4px;
    margin-top: 10px;
    font-size: 1.6rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 4px;
    margin-top: 12px;
    font-size: 1.6rem;
    color: white;
    background:transparent;
}

#links {
    
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
    background: transparent;
}
#nav-logo {
    display:flex;
    align-items: center;
    margin-left: 10px;
}

#logo {
    align-self: center;
    width:7rem;
    height:60%;
    margin: 6px;
}

#logo-container {
    background:linear-gradient(darkgreen 0 1%, rgba(30,30,30) 20% 80%, darkgreen 99% 100%);
}
#contact-me {
    display:flex;
    flex-direction: column;
}

#contact-me a {
    text-decoration: none;
    color:#4298f5;
    font-size: 20px;
    margin-left: 40px;
}


/***FOOTER***/
footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

footer p {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px dashed gray;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

span {
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
}

#text {
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
}

#text h2 {
    text-shadow: 6px 6px 10px skyblue;
    margin-left: 20px;
    margin-bottom: 50px;
    color: #4298f5;
    font-size: 40px;
    font-weight: 200;
}
#text p {
    padding:20px;
}

#text h2:hover, #contact-me a:hover, #message:hover {
    animation-name: nudge;
    animation-duration: 1.5s;
}
#contact-me {
    line-height: 60px;
    margin-bottom: 50px;
}

#contact-me a:hover, #message:hover {
    text-shadow: 8px 8px 15px skyblue;
}


#message { 
    width: 160px;
    background-color: #4298f5;
    border-radius: 10px;
    padding:10px;
    padding-left: 3px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
    color:#4298f5;
    border:none;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
}

.hidden {
    display:none;
}

#message-modal {
    position:fixed;
    height:100%;
    background-color: rgba(30, 30, 30, 0.9);
    display:none;
    justify-content: center;
    align-items: center;
    
}

#modal-container {
    width:100vw;
    height:50%;
    background:linear-gradient(rgba(30 30 30), #4298f5 ,rgba(30 30 30));
    display:flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

#close-modal {
    position: absolute;
    right:1%;
    top:26%;
    background-color: whitesmoke;
    border-radius: 10px;
    color:black;
    border:none;
    cursor: pointer;
}
.modal-message {
    width:80%;
    height:40%;
    background-color: whitesmoke;
    text-align: justify;
    overflow: auto;
    resize: vertical;
}
.modal-email, .modal-name {
    background-color: whitesmoke;
    height:30px;
}
#person-message {
    border:none;
    background-color: whitesmoke;
    width:90%;

}
#modal-container div {
    border:2px double black;
}
#modal-container input {
    border: none;
    background-color: whitesmoke;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    color:rgb(93, 88, 88);
    
}

#modal-submit {
    width: 150px;
    height: 40px;
}

input:focus {
    outline:none;
}

@keyframes nudge {
    from {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(20px)
    }
    to {
        transform: translateX(0%);
    }
}






@media screen and (min-width:481px) {
    .modal-email, .modal-name {
        background-color: whitesmoke;
        height:10%;
        width:40%;
    }
    #modal-container input {
        font-size: 12px;
    }
}

@media screen and (min-width:768px) {
    #text p, #contact-me {
        padding:0 60px;
    }
    .modal-email, .modal-name {
        background-color: whitesmoke;
        height:60px;
        width:40%;
        
    }
    #message-modal input {
        font-size: 18px;
    }
}

@media screen and (min-width:1280px) {
    .fa-brands, .fa-solid {
        font-size: 3rem;
        margin: 0.8vh;
    }
    #links {
        margin: 10px;
    }
    #logo {
        width:11rem;
    }
    #text h2 {
        font-size: 60px;
    }
    #text p {
        font-size: 24px;
    }
    #modal-submit {
        width: 250px;
        height: 60px;
    }

}
    
