@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black;
    margin: 0;
}

main {
    color:limegreen;
}

.navbar {
    display:flex;
    justify-content: space-between;
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 8px;
    font-size: 2rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 10px;
    margin-top: 12px;
    font-size: 1.8rem;
    color: white;
    background:transparent;
}

#links {
    
    margin-right: 20px;
    display:flex;
    justify-content: center;
    background: transparent;
}

#logo {
    width:5rem;
    height:100%;
}

/***FOOTER***/
footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom:0;
    width: 100%;
}

footer p {
    width: 60ch;
    padding-top:1rem;
    padding-bottom: 0;
    border-top: 1px solid gray;
    margin-top: 0.4rem;
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

footer h6 {
    width:70%;   
    margin-top: -0.2rem;
    font-size: 0.8rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}
