@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black; 
    height:100%;
    display:flex;
    flex-direction: column;
    margin: 0;
}

#navbar {
    display:flex;
    justify-content: space-between;
    
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 8px;
    font-size: 2rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 10px;
    margin-top: 12px;
    font-size: 1.8rem;
    color: white;
    background:transparent;
}

#links {
    
    margin: 10px;
    display:flex;
    justify-content: center;
    background: transparent;
}

#logo {
    width:5rem;
    height:80%;
    margin: 10%;
}

main {
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 25vh auto 25vh auto;
    height: 12rem;
    justify-content: center;
}

main a {
    display:block;
    text-decoration: none;
    line-height: 4rem;
    width:100%;
}

#about, #work, #contact {
    color:limegreen;
    font-family: 'Source Code Pro', monospace;
}

#about:hover, #work:hover, #contact:hover {
    color:white;
    font-size: 1.12em;
    font-weight: 900;
    text-shadow: 4px 4px 8px whitesmoke;
}


/***FOOTER***/


footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom:0;
    width: 100%;
}

footer p {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px dashed gray;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

span {
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
}




@media screen and (min-width:768px)  {

    main {
        max-width: 30%;
    }
}


@media screen and (max-width:350px)  {
    main {
        min-width: 45%;
    }
}
@media screen and (min-width:768px)  {
    main {
        font-size: 1.8rem;
    }
}
@media screen and (min-width:1024px)  {
    main {
        font-size: 2.4rem;
    }
    
}

@media screen and (min-width:1280px)  {
    main {
        font-size: 2.6rem;
        margin: 40vh auto 40vh auto;
        margin-top: 30vh;
    }
    .fa-brands, .fa-solid {
        font-size: 3rem;
        margin: 0.8vh;
    }

    #links {
        margin: 10px;
    }
    footer {
        position:static;
        
    }
}

@media screen and (orientation:landscape) {
    footer {
        position: static;
    }
}

@media screen and (orientation: portrait) and (min-width:768px) {
    main {
        font-size: 2rem;
        
    }
    #about:hover, #work:hover, #contact:hover {
        color:white;
        font-size: 1.1em;
        font-weight: 900;
        text-shadow: 4px 4px 8px whitesmoke;
    }
}


@media screen and (min-width:1440px) {
    main {
        font-size: 3.6rem;
    }
}