@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black; 
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

#navbar {
    display:flex;
    justify-content: space-between;
    
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 8px;
    font-size: 2rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 10px;
    margin-top: 12px;
    font-size: 1.8rem;
    color: white;
    background:transparent;
}

#links {
    
    margin: 10px;
    display:flex;
    justify-content: center;
    background: transparent;
}

#logo {
    width:5rem;
    height:80%;
    margin: 10%;
}





main {
    color: white;
    font-size: 1.2em;
    text-align: center;
    width: 50%;
    margin: 6em auto;
    height: 12rem;
}

main a {
    display:block;
    text-decoration: none;
    line-height: 4rem;
    
}

#about, #work, #contact {
    color:limegreen;
    font-family: 'Source Code Pro', monospace;
}

#about:hover, #work:hover, #contact:hover {
    color:white;
    font-size: 1.4em;
    font-weight: 900;
    text-shadow: 4px 4px 8px whitesmoke;
}


/***FOOTER***/
#footerdiv {
    bottom:0;
}

footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom:0;
    width: 100%;
}

footer p {
    width: 60%;
    padding-top:1rem;
    padding-bottom: 0;
    border-top: 1px solid gray;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

footer h6 {
    width:70%;   
    margin-top: -0.2rem;
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
   
}




@media screen and (min-width:768px)  {
    footer {
        position:fixed;
    }
    main {
        max-width: 30%;
    }
}

/*FIGURE OUT IF YOU CAN FOR BELOW 350PX*/
@media screen and (max-width:350px)  {
    main {
        min-width: 45%;
    }
}
@media screen and (min-width:768px)  {
    main {
        font-size: 2rem;
    }
}
@media screen and (min-width:1024px)  {
    main {
        font-size: 2.6rem;
    }
}

