@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black; 
    height:100vh;
    display:flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
}

#navbar {
    display:flex;
    justify-content: space-between;
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 4px;
    margin-top: 10px;
    font-size: 1.6rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 4px;
    margin-top: 12px;
    font-size: 1.6rem;
    color: white;
    background:transparent;
}

#links {
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    font-size: 20px;
}
/* #nav-resume {

} */
#nav-logo {
    display:flex;
    align-items: center;
    margin-left: 10px;
}

#logo {
    align-self: center;
    width:7rem;
    height:60%;
    margin: 6px;
    
}

#logo-container {
    background:linear-gradient(darkgreen 0 1%, rgba(30,30,30) 20% 80%, darkgreen 99% 100%);
}

main {
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 20vh auto;
    height: 100%;
    width:100%;
    
    justify-content: center;
}

main a {
    display:block;
    text-decoration: none;
    line-height: 4rem;
    width:100%;
}

#about, #work, #contact {
    color:limegreen;
    font-family: 'Source Code Pro', monospace;
}

#about:hover, #work:hover, #contact:hover {
    color:white;
    font-size: 1.1em;
    font-weight: 900;
    text-shadow: 6px 6px 10px whitesmoke;
}


/***FOOTER***/


footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
}

footer p {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px dashed gray;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

span {
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
}




@media screen and (min-width:768px)  {

    main {
        max-width: 35%;
    }
}


@media screen and (max-width:360px)  {
    main {
        max-width: 60%;
    }
}

@media screen and (min-width:768px)  {
    main {
        font-size: 1.8rem;
    }
}
@media screen and (min-width:361px)  {
    main {
        max-width: 50%;
    }
}

@media screen and (min-width:1024px)  {
    main {
        font-size: 2.4rem;
    }
    
}

@media screen and (min-width:1280px)  {
    main {
        font-size: 2.6rem;
        margin: 20vh auto;
        margin-top: 30vh;
    }
    .fa-brands, .fa-solid {
        font-size: 3rem;
        margin: 0.8vh;
    }

    #links {
        margin: 10px;
    }
    footer {
        position:static;
        
    }
    #logo {
        width:11rem;
    }

}

@media screen and (orientation:landscape) {
    footer {
        position: static;
    }
    main {
        max-width: 30%
    }
}

@media screen and (orientation: portrait) and (min-width:768px) {
    main {
        font-size: 2rem;
        
    }
    #about:hover, #work:hover, #contact:hover {
        color:white;
        font-size: 1.1em;
        font-weight: 900;
        text-shadow: 4px 4px 8px whitesmoke;
    }
}


@media screen and (min-width:1440px) {
    main {
        font-size: 3.6rem;
    }
}