@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;700&display=swap');

body {
    background-color: black;
    color: lime;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:97vh;
    font-family: 'Source Code Pro', monospace;
    margin:0;
}

h3 {
    font-size: 50px;
    font-weight:200;
}

#navbar {
    display:flex;
    justify-content: space-between;
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 4px;
    margin-top: 10px;
    font-size: 1.6rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 4px;
    margin-top: 12px;
    font-size: 1.6rem;
    color: white;
    background:transparent;
}

#links {
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    font-size: 20px;
}
/* #nav-resume {

} */
#nav-logo {
    display:flex;
    align-items: center;
    margin-left: 10px;
}

#logo {
    align-self: center;
    width:7rem;
    height:60%;
    margin: 6px;
    
}

#logo-container {
    background:linear-gradient(darkgreen 0 1%, rgba(30,30,30) 20% 80%, darkgreen 99% 100%);
}

main {
    text-align: center;
}

footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
}

footer p {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px dashed gray;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

span {
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
}


#download-resume {
    display: inline;
    margin: 0px auto 40px auto;
    position: center;
    background-color: rgba(30 30 30);
    color: lime;
    height: 70px;
    border-radius: 20px;
    border: none;
    padding: 30px;
    cursor:pointer;
    align-items: center;
    text-align: center;
}

#download-resume:hover {
    box-shadow: 0px 5px 45px 10px rgba(140, 255, 0, 0.5)
}

#download-resume:active {
    color: white;
    box-shadow: 0px 5px 45px 10px white;
}

@media screen and (min-width:1280px)  {
    .fa-brands, .fa-solid {
        font-size: 3rem;
        margin: 0.8vh;
    }
    #links {
        margin: 10px;
    }
    footer {
        position:static;  
    }
    #logo {
        width:11rem;
    }
}