@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
    background-color: black;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	margin: 0;
}

/*** NAVBAR ***/

#navbar {
    display:flex;
    justify-content: space-between;
    
    background-image: url(images/matrix-background.jpeg);
    background-size: cover ;
}

.fa-brands {
    margin: 8px;
    font-size: 2rem;
    color: white;
    background:transparent;
}
.fa-solid {
    margin: 10px;
    margin-top: 12px;
    font-size: 1.8rem;
    color: white;
    background:transparent;
}

#links {
    
    margin: 10px;
    display:flex;
    justify-content: center;
    background: transparent;
}

#logo {
    width:5rem;
    height:80%;
    margin: 10%;
}




.container {
	display: none;
	flex-direction: column;
	align-items: center;
}
.container > div {
	width: 70%;
}
.carousel-indicators {
	text-align: center;
	margin: 0 auto;
	margin-top:-65px;
	opacity: 0.3;
}
.carousel-indicators button {
	cursor: pointer;
	width: 10%;
	height: 12px;
	border-radius: 10%;
	border: 2px solid black;
}
.carousel-indicators button:hover {
	background-color: limegreen;
	border: 1px solid black;
	border-radius: 10%;		
}


h1 {
    font-family: 'Source Code Pro', monospace;
	font-size: 5vh;
	margin: 4rem auto 1rem auto;	
	color: limegreen;
	text-shadow: 1px 1px gray;
	letter-spacing: 1px;
}

/*** CAROUSEL ***/
.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.carousel-images {
	width: 75%;
	background: rgb(28, 69, 28);
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #50C878;;
}
.carousel-images img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: none;
}

.carousel-button {
	align-self: center;
	background: rgb(28, 69, 28);
	color: white;
	font-weight: 900;
	font-size: 1.4rem;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px lime;
}
.carousel-button:hover {
	cursor: pointer;
	background: #50C878;
	box-shadow: 1px 1px lime;
	color: black;
}

.carousel-images img:first-of-type {
	display:block
}

#text {
	background: rgb(28, 69, 28);
	width:200px;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	padding-bottom: 7px;
	font-weight: bolder;
	box-shadow: 1px 1px lime;
	border-radius: 0 0 15px 15px;
}


@media (max-width: 1024px)  {
	.carousel-indicators button {
		width: 10%;
		height: 0.5rem;
		border-radius: 10%;
		border: 2px solid black;
	}
}


@media screen and (min-width:768px) {
	.container {
		display:flex;
	}
	#projects div {
		display:none;
	}


}

@media screen and (min-width:480px) {
	footer {
		position:static;
	}
}


@media screen and (min-width:768px)  {
    footer {
        position:fixed;
    }
    main {
        max-width: 30%;
    }
}

.hidden {
	display:none;
}

#projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap:1rem;
	padding:1rem;
}

#projects img {
	width: 100%;
	height: auto;
}

/***FOOTER***/
footer {
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom:0;
    width: 100%;
}

footer p {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px dashed gray;
    margin-top: 0.4rem;
    font-size: 0.4rem;
    font-family: 'Source Code Pro', monospace;
    align-self: center;
}

span {
    font-size: 0.6rem;
    font-family: 'Source Code Pro', monospace;
}

@media screen and (orientation: landscape) and (min-width:481px) {
	footer {
		position: fixed;
		margin-top:100px;
	}
}

@media screen and (min-width:1024px) {
	footer {
		position: static;
	}
	.container {
		margin: 0 auto 20vh auto;
	}
}

@media screen and (orientation: portrait) {
	h1 {
		font-size: 2ch;
	}
}
@media screen and (orientation: portrait) and (min-width:768px) {
	h1 {
		font-size: 3ch;
	}
}

@media screen and (min-width:1280px) {
    .fa-brands, .fa-solid {
        font-size: 3rem;
		margin: 0.8vh;
    }
    #links {
        margin: 10px;
    }
}